@media only screen and (max-width:720px){
  .active{
    left : 40% !important;
  }
  .fade-navbar{
    background-color:  #fff !important;
    transform:  translateX(0) !important;
    width:50% !important;
  }
}